* {
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #F1EFE7;
    transition: background-color 0.5s ease;
}
.bodyColor1{
    text-align: center;
    background-color: #d6a9a1;
    transition: background-color 0.5s ease;
} 
.bodyColor2{
    text-align: center;
    background-color: #acbba0;
    transition: background-color 0.5s ease;
} 
.bodyColor3{
    text-align: center;
    background-color: #c5b8c3;
    transition: background-color 0.5s ease;
} 
.bodyColor4{
    text-align: center;
    background-color: #e8d4c9;
    transition: background-color 0.5s ease;
} 
.info-boxColor1{
    background-color: #b2a49d;
    transition: background-color 0.5s ease;
}
.info-boxColor2{
    background-color: #9d9b96;
    transition: background-color 0.5s ease;
}
.info-boxColor3{
    background-color: #aeb3be;
    transition: background-color 0.5s ease;
}
.info-boxColor4{
    background-color: #b3c3b9;
    transition: background-color 0.5s ease;
}



.search-form {
    margin: 0 auto;
    width: 50%; /* Adjust the width as needed */
  }
.search-input {
    width: 70%;
    padding: 10px;
    margin: 10px 0; /* Space above and below the search bar */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1); /* Soft shadow around the search bar */
  }
.search-button {
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); /* Shadow effect for the button */
  }
.search-button:hover {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3); /* Shadow effect on hover */
  }
.info-box {
    border: 1px solid #000; /* Change the color and thickness of the border as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
    padding: 20px; /* Add some padding inside the box */
    margin-bottom: 20px; /* Add some space below the box */
  }

.EER {
    width: 700px;  /* Adjust the width as needed */
    height: auto;  /* Keeps the aspect ratio */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
table {
    margin: 0 auto;
    width: 20%;
    border-collapse: collapse;
  }
  
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
th {
    background-color: #b3c3b9;
    color: black;
  }
  
  /* Optional: Add some styling to your table to make it more visually appealing */
table {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow around the table */
  }